<settings>
    <servers>
        <server>
            <id>levigo</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
        <server>
            <id>releases.levigo.net</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
        <server>
            <id>maven2.releases.levigo.de</id>
            <username>${REPOSITORY_RELEASE_USERID}</username>
            <password>${REPOSITORY_RELEASE_CREDENTIALS}</password>
        </server>
        <server>
            <id>nexus3.releases.levigo.net</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
        <server>
            <id>${REGISTRY_URL}</id>
            <username>${REPOSITORY_USERID}</username>
            <password>${REPOSITORY_CREDENTIALS}</password>
        </server>
    </servers>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <properties>
                <sonar.host.url>${SONAR_HOST_URL}</sonar.host.url>
                <sonar.login>${SONAR_LOGIN}</sonar.login>
            </properties>
        </profile>
        <!-- This profile trys to get every artifact from maven-central first, before falling back to levigo -->
        <profile>
            <id>central-levigo</id>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>levigo</id>
                    <url>${REPOSITORY_URL}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>central-levigo</activeProfile>
        <activeProfile>sonar</activeProfile>
    </activeProfiles>
</settings>
